In [6]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as mpl

In [43]:
data = pd.read_csv("../Data/attacks.csv", encoding = "cp1252")

In [44]:
#Firstly I´m going to drop the duplicates
data2 = data.drop_duplicates()

In [45]:
#I´m going to drop the useless rows with many NaNs (more than 5) 
data3 = data2.dropna(thresh = 5, axis=0)

In [46]:
#I also want to remove the number of columns that have a majority of NaNs. 
data4 = data3.dropna(thresh = len(data3) - 1000, axis=1)

In [47]:
#Now its time to get rid of everything except the things I need to determine if my hypothesis its true or not. 
#HYPOTHESIS: mortality on a shark attack rises when doing certain activities:surfing. 
data5 = data4.drop(["Case Number", "Year", "Area", "Location", "Type", "Country", "Name", "Sex ", "Injury", "Investigator or Source", "pdf", "href formula", "href", "Case Number.1", "Case Number.2", "original order"], axis=1)

In [48]:
#Now let´s see how many null elements we have in each one of the two variables. 
data5.isnull().sum()
#We can see there is a bunch of them, lets deal with them.

Date             0
Activity       544
Fatal (Y/N)    539
dtype: int64

In [49]:
#Let´s see what are those null values
data5["Fatal (Y/N)"].value_counts()

N          4293
Y          1388
UNKNOWN      71
 N            7
2017          1
N             1
y             1
M             1
Name: Fatal (Y/N), dtype: int64

In [50]:
#We are going to correct the human error.
data5["Fatal (Y/N)"].replace(to_replace=" N", value="N", inplace=True)
data5["Fatal (Y/N)"].replace(to_replace="y", value="Y", inplace=True)
data5["Fatal (Y/N)"].replace(to_replace="N ", value="N", inplace=True)
data5["Fatal (Y/N)"].replace(to_replace="M", value="N", inplace=True)
data5["Fatal (Y/N)"].replace(to_replace="UNKNOWN", value="NaN", inplace=True)
data5["Fatal (Y/N)"].replace(to_replace="2017", value="NaN", inplace=True)

In [51]:
data5["Fatal (Y/N)"].value_counts()

N      4302
Y      1389
NaN      72
Name: Fatal (Y/N), dtype: int64

In [52]:
#Now we have the null values located, let´s eliminate those rows, they won´t be useful for our analysis. 
#We eliminate any row with a null value. 
data6 = data5.dropna(how="any", axis=0)

In [53]:
#This is basically our DataFrame to corroborate our Hypothesis.
#Let´s reset the index, to have the DataFrame ordered.
data7 = data6.reset_index()

In [54]:
#Finally let´s eliminate the old index
data8 = data7.drop(["index"], axis =1)

In [55]:
#Now I´m going to try and substitute every activity except surfing with the string "Other than surfing"
data8.Activity.loc[(data8["Activity"] != "Surfing")] = "Other than surfing"

In [56]:
data9 = data8.drop(data8[data8["Fatal (Y/N)"] == "NaN"].index)

In [57]:
data9

             Date            Activity Fatal (Y/N)
0     25-Jun-2018  Other than surfing           N
1     18-Jun-2018  Other than surfing           N
2     09-Jun-2018             Surfing           N
3     08-Jun-2018             Surfing           N
4     04-Jun-2018  Other than surfing           N
...           ...                 ...         ...
5339  Before 1906  Other than surfing           Y
5340  Before 1903  Other than surfing           Y
5341  Before 1903  Other than surfing           Y
5342    1900-1905  Other than surfing           Y
5343    1845-1853  Other than surfing           Y

[5307 rows x 3 columns]

In [58]:
data10 = data9.reset_index()

In [59]:
data11 = data10.drop(["index"], axis = 1)

In [60]:
final_data = data11

In [61]:
final_data.to_csv(r"final_data.csv")